@model Comments.ViewModels.SecureTestViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}


@Model.PageDescription

<br /><br /><br />

@if (Model.IsLoggedIn)
{
    <p> You are signed in as (display name): @Model.DisplayName</p>
    <p> NICE account id: @Model.UserId.ToString()</p>
    <p> Given name: @Model.GivenName</p>
    <p> Surname: @Model.Surname</p>
    <p> Email: @Model.Email</p>
    <p> Organisation: @Model.Organisation</p>
}
else
{
    <p> You are not signed in.</p>
}
